/* Css de prueba para ver como queda con el C칩digo HTML y tener una idea*/
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

#encabezado {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#titulo1 {
    margin-bottom: 10px;
}

#mundoGif {
    max-width: 50%;  /* Reducido a la mitad */
    height: 50%;  /* Reducido a la mitad */
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline-block;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#contenido {
    padding: 20px;
}

#seccionBoton {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#titulo2 {
    color: #3498db;
    margin-bottom: 10px;
}

#parrafo1 {
    color: #555;
    margin-bottom: 20px;
}

#botonGeolocalizador button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#botonGeolocalizador button:hover {
    background-color: #2980b9;
}

#footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#parrafoFooter {
    font-size: 10px;
}

/* Media query para hacer el dise침o para ver en m칩vil, tablet... */
@media screen and (max-width: 768px) {
    #menu ul li {
        display: block;
        margin-bottom: 10px;
    }

    #botonGeolocalizador button {
        width: 100%;
    }

    #mundoGif {
        max-width: 50%;  /* Ajustado para cuando se reduzca la pantalla: m칩vil, tablet, etc */
        height: 50%;
    }
}
