 
  /* Css de prueba para ver como queda con el Código HTML y tener una idea*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#map {
    display:none;
  }

/* #map {
    height: 15vh; /* Ajusta la altura del mapa para que sea más proporcional en pantallas móvil 
} */

/* Este es el header */
#encabezado {
    height: auto; /* Cambia la altura a automático para adapartarlo a pantalla móvil */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#encabezado > #mundoGif {
    width: 80px;
    display: flex;
    justify-content: flex-start;

}


/*
#menu {
    right: 20px; /* Reduce el margen derecho del menú en pantallas más pequeñas */
   /* font-size: 20px;  Reduce el tamaño de fuente del menú en pantallas más pequeñas */
    /* No se ordenarlo 
} */

/* #menu ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
} */


#contenido {
    padding: 15px;
    background-color: #1e8dd7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccionBoton {

    background-color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 80%; /* Ajustamos el ancho de la sección de botón para que ocupe un porcentaje mayor en pantallas más pequeñas */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#titulo2 {
    color: #3498db;
    margin-bottom: 10px;
}

/* Mostramos los elementos que consideremos importantes para esta vista de pantalla móvil */
/* #titulo2, #botonGeolocalizador, #footer {
    display: block;
} */

#parrafo1 {
    color: #555;
    margin-bottom: 10px;
}

#botonGeolocalizador button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* para que desaparezca al hacer click lo he hecho en JS , solo he añadido una linea, la 132, y esta comentada*/
}

/* check-weather{
    border: solid black;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
  } */

  #weather-status {
    position: relative;
    font-size: 1.5em;
    color:#0e0d0d;
    text-align: center;
    display: none;
  }

/* Esto está en el JS */
  #weather-hours li{
    list-style: none;
    display: flex;
    /* width: calc(22.5%); Calcula el ancho para cuatro columnas con espacio entre ellas */
    flex-direction: column;
    align-items: center;
    color: red;
    font-size: 1.5rem;
  }

  #weather-hours p {
    text-align: center;
    margin-bottom: 10px;
  }

  #weather-hours img {
    width: 80px;
  }


/* Este es el botón */
#check-weather {
    background-color: #1e8dd7;
    width: 200px;
    height: 100px;
    cursor: pointer;
}

ul #weather-hours {

    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

#footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#parrafoFooter {
    font-size: 10px;
}

