
/* Css de prueba para ver como queda con el Código HTML y tener una idea*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* reduzco el gif lo máximo que puedo y le realizo en display-flex para intentar moverlo a mi antojo, pero no puedo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

#mundoGif {  
    display: flex;
    max-width: 8%;

}

#encabezado {
    background-color: #3498db;
    background-image: url(imagenes/nublado.jpg);
    background-position: center;
    color: #fff;
    padding: 5px 5px;
    text-align: center;
    display: flex;
    height: 100px;

}

#titulo1 {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;

}


#menu ul {
    list-style: none;
    /* display: flex;
    justify-content: center; */
    gap: 10px;

}


#menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    color: rgb(105, 105, 105)
}

#contenido {
    padding: 15px;
}

#seccionBoton {
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#titulo2 {
    color: #3498db;
    margin-bottom: 10px;
}

#parrafo1 {
    color: #555;
    margin-bottom: 10px;
}

#botonGeolocalizador button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#botonGeolocalizador button:hover {
    background-color: #2980b9;
}

#footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#parrafoFooter {
    font-size: 10px;
}

/* Media query para adaptar a tablets */
@media screen and (min-width: 800px) {





}

/* Media query para adaptar a ordenadores de mesa o pantallas más amplias */
@media screen and (min-width: 1000px){
    



}