* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    position: relative;
    height: 50vh;
    /* overflow: hidden; */
  }

  .video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  video {
    width: 100%;
    height: auto;
    opacity: 30%;
    display: flex;
    position: absolute;
  }

  h1 {
    position: relative;
    text-align: center;
    margin-top: 1rem;
    color: rgb(15, 15, 13);
  }

  #check-weather {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
  }

  #weather-status {
    position: relative;
    font-size: 1.5em;
    color:#0e0d0d;
    text-align: center;
  }

  #map {
    height: 30vh;
    width: 100vw;
  }

  #weather-hours {
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid red;
  }
  #weather-hours li{
    list-style: none;
    display: flex;
    width: calc(22.5%); /* Calcula el ancho para cuatro columnas con espacio entre ellas */
    flex-direction: column;
    justify-content: center;
    border: 5px solid yellow;
  }

  #weather-hours p {
    text-align: center;
  }
  #weather-hours img {
    border: 2px solid red;
    margin: 0 auto;
    width: 50px;
  }