* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    position: relative;
    height: 50vh;
    overflow: hidden;
  }
  
  .video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  video {
    width: 100%;
    height: auto;
    opacity: 30%;
    display: flex;

  }
  
  h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(15, 15, 13);
    z-index: 1;
  }
  
  #check-weather {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  #weather-status {
    font-size: 1.5em;
    position: absolute;
    top: 70px; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Ponlo por encima del video */
    color:#0e0d0d; /* Cambia el color según tu diseño */
  }

  #map {
 
    height: 30vh;
    width: 100hw;
  
  }

  #weather-hours{
    position: absolute;
    top: 150px;
  
  }
  