/* Css de prueba para ver como queda con el Código HTML y tener una idea*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* reduzco el gif lo máximo que puedo y le realizo en display-flex para intentar moverlo a mi antojo, pero no puedo */
body {
    height: 90vh;
/*  display: grid;
    grid-template-areas:
    "encabezado"
    "contenido"
    "footer"
    ;
    grid-template-rows: 6.5rem 50rem 4rem ; */
}

/* #map {
    display: none;
  } */

/* Este es el header */
#encabezado {
    display: flex;
    justify-content: center;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 5px 10px 5px;

}

#mundoGif {

    padding: 0px 5px;
    width: 70px;
    display: flex;
}

#titulo1 {
    font-size: 55px;
}


#contenido {

    background-color: #1e8dd7;
}

#seccionBoton {
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#titulo2 {
    color: #3498db;
}

#parrafo1 {
    color: #555;
    margin-bottom: 10px;
}

#botonGeolocalizador button {
    background-color: #71b4e1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
check-weather{
    border: solid black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
  }

  #weather-status {
    position: relative;
    font-size: 1.5em;
    color:#0e0d0d;
    text-align: center;
  }

/* Esto está en el JS */
  #weather-hours li{
    list-style: none;
    display: flex;
    width: calc(22.5%); /* Calcula el ancho para cuatro columnas con espacio entre ellas */
    flex-direction: column;
    justify-content: center;
  }

  #weather-hours p {
    text-align: center;
  }
  #weather-hours img {
    background-color: #0d43b5;
    margin: 0 auto;
    width: 50px;
  }


/* Este es el botón */
#check-weather {
    background-color: #1e8dd7;
    margin-left: 80px;
    width: 200px;
    height: 100px;
}

#weather-hours {
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

#footer {
    grid-area: footer;
    background-color: #2c3e50;
    color: #fff;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#parrafoFooter {
    font-size: 10px;
}
